.heading {
  @include font-neue-haas-bold();

  margin: 0;
  padding: 0;

  font-size: rem(45px);
  line-height: 0.8;

  color: $color-white;
}

.subheading {
  @include font-neue-haas-regular();

  margin: 0;
  padding: 0;

  font-size: rem(35px);
  line-height: 0.8;

  color: $color-white;
}

.paragraph {
  @include font-neue-haas-regular();

  margin: 0;
  padding: 0;

  color: $color-white;

  font-size: rem(14px);
  line-height: rem(20px);
  letter-spacing: 1.1;
}