// Fonts
$font-base-size: 16px;

// --
$font-family-canela: 'Canela';
$font-family-corsa: 'Corsa grotesk';
$font-family-commons: 'tt-commons';
// --

$font-family-favorit: 'favorit';
$font-family-giselle: 'fh-giselle';

// Colors
$color-primary: #b9090b;
$color-secondary: #707070;

$color-white: #fff;
$color-black: #000;
$color-error: #F05656;

$color-background: #1C1C1C;

// Adaptive
$breakpoint-narrow: 480px;
$breakpoint-regular: 768px;
$breakpoint-wide: 1024px;

// Margins
// $narrow-spacing: 100px;
// $regular-spacing: 150px;
// $wide-spacing: 300px;

// Container
$wide-container: 1300px;